

.container {
    width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-family: 'Josefin Sans'
}

.container-small {
    margin: 0 auto;
    width: 1170px;
}

.navthree {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Josefin Sans';
}

.pp {
    font-size: 15px;
    line-height: 150%;
    font-family: 'Josefin Sans';
    color: #666666;
}

.center {
    text-align: center;
    font-size: 45px;
    line-height: 53px;
    font-family: 'Josefin Sans';
}

.blue-box-1 {
    width: 370px;
    height: 549px;

}

.trans:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.trans2 {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}